<h1>Posts</h1>

<div>
  Create
  <%= link_to "New Post", new_post_path %>
</div>

<% if @posts.empty? %>
  <p>No posts yet</p>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <dt><%= post.title %> <% if user_signed_in? %> <i> by <%= post.user.username %></i> <% end %></dt>
      <dd><%= post.content %></dd>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>