<h1>New Post</h1>

<%= form_with model: @post, local: true do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title, :placeholder => "Enter post title" %><br><br>

  <%= form.label :content %><br>
  <%= form.text_area :content, :placeholder => "Enter post content" %><br><br>

  <%= form.submit %>
<% end %>