<h1>Event: <%= @event.title %> by <%= link_to @event.creator.username, @event.creator %></h1>

<div class="event-info">
  <% if @event.description %>
    <p>Description: <%= @event.description %></p>
  <% end %>
  <p>Date: <%= @event.starts_at %></p>
  <p>Location: <%= @event.location %></p>
</div>